section#installation ol,
section#requirements ul,
section#installation p,
section#requirements p {
    text-align: left;
}

#functions {
    background: #e89980;
    color: #f9e5df;
    padding: 3.5em 0 4em 0;
    text-align: center;
}

#functions h2 {
    color: #f9e5df;
}